@CHARSET "UTF-8";

    body{
       background-color:#3fb0ac ; 
       background-image: url("./images/img.png");
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment:fixed;
       font-family:"Arial", cursive, sans-serif; 
    } 
    
    
    img{
       height: 100px;
       width: 100px;
       border-style: solid;
       border-width: 2px;
       margin: 5px;
    }
 
     #header {
        border-radius: 25px;
        background-color:#173e43;
        color: white;
        text-align:center;
        clear: both;
        margin: 10px;
        padding:5px;  
        background-color:rgba(0, 0, 0, 0.2);      
    }
      
    #footer {
        border-radius: 25px 25px 0px 0px;
        background-color:#173e43;
        color:white;
        clear:both;
        text-align:center;
        margin: 10px;
        padding:5px;
        clear: both;
        background-color:rgba(0, 0, 0, 0.1);
    }
    
    #content {
        float:left;
        padding: 10px;		 
    }
    
    #offers {
        border-radius: 25px;
        line-height:30px;
        background-color:#fae596;
        margin: 20px 10px 10px 10px;
        padding:15px;	  
        width: 280px;
        height:500px;
        float: right;  
        background-color:rgba(500, 950, 420, 0.4);  
    }
    
    div.itineraries{
        border-radius: 25px;
        background-color: #fae596;
        color:black;
        width: 1000px;
        margin:10px 10px 10px 0px;
        padding:3px;
        background-color:rgba(500, 950, 420, 0.4);
    }
    
    .nav-block{
	position:fixed absolute;
	float: right;
	top:70px;
	margin:0 0 0 20px;
	z-index:2;
	width:182px;
	background:url(/images/bg-nav-block.png) no-repeat;
	padding:52px 0 0;
	opacity:0.8;
	background-color:rgba(500, 950, 420, 0.4);
}

