body{
    background-color:#3fb0ac ; 
    background-image: url("./images/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family:"Arial", cursive, sans-serif; 
   } 
   
   
img{
   	height: 100px;
   	width: 100px;
   	border-style: solid;
   	border-width: 2px;
   	margin: 5px;
}

#header {
    border-radius: 25px;
    background-color:#173e43;
    color: white;
    text-align:center;
    clear: both;
    margin: 10px;
    padding:5px;  
    background-color:rgba(0, 0, 0, 0.2);      
}
  
#footer {
    border-radius: 25px 25px 0px 0px;
    background-color:#173e43;
    color:white;
    clear:both;
    text-align:center;
    margin: 10px;
    padding:5px;
    clear: both;
    background-color:rgba(0, 0, 0, 0.1);
}

#content {
    float:left;
    padding: 10px;		 
}

#offers {
    border-radius: 25px;
    line-height:30px;
    background-color:#fae596;
    margin: 20px 10px 10px 10px;
    padding:15px;	  
    width: 280px;
    height:500px;
    float: right;  
    background-color:rgba(500, 950, 420, 0.4);  
}
   
div.itineraries{
    border-radius: 25px;
    background-color: #fae596;
    color:black;
    width: 1000px;
    margin:10px 10px 10px 0px;
    padding:5px;
    background-color:rgba(500, 950, 420, 0.4);
}
   
div.nav-block{
	border-radius: 25px;
	position:fixed absolute;
	float: right;
	top:70px;
	margin:0 0 0 20px;
	z-index:2;
	width:182px;
	padding:52px 0 0;
	opacity:0.8;
	background-color:rgba(500, 950, 420, 0.4);
}

#review_form {
	font-weight: bold;
	border-radius: 25px;
    line-height:30px;
    background-color:#fae596;
    margin: 10px 0px 20px 10px;
    padding:15px;	  
    width: 1500px;
    float: left;  
    background-color:rgba(500, 950, 420, 0.4);  
}
#head3{
	float:right;
	font-size:10px;
}
#form_left {
	margin: 5px;
	padding: 0px 10px;
	float: left;
	width: 40%
}
#form_right {
	margin: 5px;
	padding: 0px 10px;
	float: right;
	width: 40%
}

#reply_select {
	margin: 5px;
	padding: 0px 10px;
	min-width: 100px;
}

textarea#review_body {
	width: 40%;
	height: 150px;
	border: 1px solid #cccccc;
	padding: 5px;
	float:left;
}

#review_submit {
	margin: 5px;
	padding: 0px 10px;
	margin: 10px 5px;
	padding: 10px 10px;	
}

#error {
	font-weight: bold;
	color: white;
	float: right;
}

.review, .deleted_review, .reply, .deleted_reply {
	margin: 5px;
	padding: 0px 10px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;	
}
	
.review {
	font-weight: bold;
	border-radius: 25px;
    line-height:30px;
    background-color:#fae596;
    margin: 10px 0px 20px 10px;
    padding:15px;	  
    width: 1030px;
    float: left;
    background-color:rgba(500, 950, 420, 0.4);  
}

.review, .reply {
	min-height: 250px;
	
}

.reply {
	clear: both;
	
}
.deleted_review{
	font-weight: bold;
	  border-radius: 25px;
        line-height:30px;
        background-color:#fae596;
        margin: 10px 0px 20px 10px;
        padding:15px;	  
        width: 1030px;
        float: left;
        background-color:rgba(500, 950, 420, 0.4);  
}
#completedel{
		font-weight: bold;
	  border-radius: 25px;
        line-height:30px;
        background-color:#fae596;
        margin: 10px 0px 20px 10px;
        padding:15px;	  
        width: 1500px;
        float: left;
        background-color:rgba(500, 950, 420, 0.4);
}

.location {
	margin: 5px;
	padding: 0px 10px;
	
}

.map {
	margin-bottom: 10px;
	height: 200px;
	width: 250px;
	border: 1px solid white;
	
	
}

.review p, .reply p, .deleted_review p, .deleted_reply p {
	font-weight: bold;
	
}
.review blockquote, .reply blockquote {
	font-style: Aerial;
	
}
.reply, .deleted_reply {
	margin-left: 20%;
	
}
.reply h3, .reply p, .reply blockquote, .deleted_reply h3, .deleted_reply p, .deleted_reply blockquote {
	color: #FF5050;
	
}
